#search-input {
  width: 80%;
  height: 30px;
  font-size: 20px;
  padding: 5px 0px 5px 10px;
}

.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }

h2 {
    //color: #ad4868 !important;
    margin: 60px 0 10px !important;
    font-size: 40px;
    font-family: inherit;
    font-style: normal;
    text-transform: none;
    font-weight: bold;
    border-bottom: 1px solid #eaecef;
}

h3 {
    //color: #ad4868 !important;
    margin: 30px 0 10px !important;
    font-size: 32px;
    font-family: inherit;
    font-style: normal;
    text-transform: none;
    font-weight: bold;
    //border-bottom: 1px solid #eaecef;
}

h4 {
    //color: #ad4868 !important;
    margin: 20px 0 10px !important;
    font-size: 26px;
    font-family: inherit;
    font-style: normal;
    text-transform: none;
    font-weight: bold;
    border-bottom: 1px solid #eaecef;
}

h5 {
    //color: #ad4868 !important;
    margin: 10px 0 10px !important;
    font-size: 18px;
    font-family: inherit;
    font-style: normal;
    text-transform: none;
    font-weight: bold;
    //border-bottom: 1px solid #eaecef;
}

.tip-title {
    font-weight: bold;
    display: block;
    color: #fff;
    background: #6ab0de;
    padding: 6px 12px;
    margin-bottom: 12px;
}

.tip-title:before {
    content: "\2756";
}

.tip-content {
    background: #6ab0de45;
    line-height: 24px;
    margin: -12px 0 12px 0;
    padding: 6px 12px;
    font-size: 16px;
}

.warning-title {
    font-weight: bold;
    display: block;
    color: #fff;
    background: #f0b37e;
    padding: 6px 12px;
    margin-bottom: 12px;
}

.warning-title:before {
    content: "\2756";
}

.warning-content {
    background: #fce9c1;
    line-height: 24px;
    margin: -12px 0 12px 0;
    padding: 6px 12px;
    font-size: 16px;
}

img {
    border: 1px solid #80808033;
}