#search-input {
  width: 80%;
  height: 30px;
  font-size: 20px;
  padding: 5px 0px 5px 10px;
}

.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }

h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eaecef;
}

h3 {
    font-size: 1.25em;
    border-bottom: 1px solid #eaecef;
}
